.customers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
  }

  .customers > * {
    flex-basis: 31%;
    margin: 0.5rem;
  }